@font-face {
    font-family: 'Open_Sans';
    src: url(assets/font/Open_Sans/OpenSans-Regular.ttf );
}
@font-face {
    font-family: 'lato';
    src: url(assets/font/lato/Lato-Regular.ttf );
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	cursor: pointer;
	color: var(--primary-color);
}
a:hover{
	color: var(--primary-hover);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'lato';
}

body{
	background-color: #f4f6f8;
	font-family: 'Lato', sans-serif;
}

/* variables */

:root{
	--primary-color: #3CC476;
	--primary-hover: #278851;
	--primary-light: #ebfaf1;
	--sec-color: #2E3243;
	--bg-color: #f4f6f8;
	--border-light: #ddd;
	--light-text: #aaa;
	--light-dart: rgb(102, 102, 102);
}

/* Global Classes */

.fs{
	font-size: 14px;
}

.bg-color{
	background-color: #f4f6f8;
}

.secColor{
	background-color:#2E3243 ;	
}

.primaryColor{
	background-color: #3CC476;
}

.visible{
	display: block;
}
.hide{
	display: none;
}



/* Gloabal Design */

button{
	color: var(--light-dart);
}



/* Products Page Desing */
/* ==================== */

.all-products{
	display: flex;
	flex-direction: row;
}

.all-products .filter-section{
	width: 20%;
	border-right: 2px solid var(--border-light);
}

.all-products .products-section{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.all-products .card-area{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.all-products .products-pagination{
	margin-top: 50px;
}

/* Card Design Start */

.all-products .card{
	border: 2px solid var(--border-light);
	width: 300px;
	border-radius: 10px;
	padding: 5px;
	margin: 20px;
}

.all-products .card img{
	width: 100%;
}

.all-products .card .posted-by{
	font-size: 12px;
	color: var(--light-text);
}

.all-products .card .posted-by a{
	color: var(--primary-color);
}

.all-products .card{
	transition: all .2s;
}
.all-products .card:hover{
	box-shadow: 0 10px 20px 0 rgb(0 0 0 / 20%);
}

.all-products .card p{
	margin: 0;
}

.all-products .card .author-info{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 5px;
}
.all-products .card .author-info .review-star img{
	width: 60px;
	margin-top: -2px;
}
.all-products .card .author-info .review-star{
	margin-left: 10px;
}

.all-products .card .author-location, .all-products .card .author-location i{
	color: rgb(124, 124, 124);
	font-size: 12px;
}

.all-products .card .product-title{
	font-size: 16px;
	font-weight: bold;
}

.all-products .card .short-desc{
	font-size: 13px;
	color: rgb(112, 112, 112);
}

.all-products .card .price{
	font-size: 16px;
	color: var(--primary-color);
	font-weight: bold;
	margin-top: 8px;
}
.all-products .card .price span{
	margin: 0px 3px;
}

.all-products .card .old-price{
	color: var(--light-text);
	text-decoration: line-through;
}

.all-products .card .product-info{
	position: relative;
	padding: 5px;
}

.all-products .card .off{
	color: red;
}

.all-products .card .posted-time{
	color: var(--light-text);
	font-size: 13px;
	margin-top: 5px;
}

.all-products .card .member-batch{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50px;
}
.all-products .card .warrenty-batch{
	width: 100px;
	position: absolute;
	right: -8%;
	top: -8%;
}

.all-products .card .fav-btn{
	position: absolute;
	top: 10px;
	left: 12px;
	font-size: 20px;
	cursor: pointer;
	color: red;
	z-index: 2;
}

/* Card Design End */


/* Filter Section */

.label{
	font-weight: bold;
	font-size: 14px;
}

.filter{
	margin-top: 20px;
	width: 80%;
	padding-bottom: 20px;
	border-bottom: 1.5px solid var(--border-light);
}

.all-products .filter-section{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Sort By Filter */

.all-products .sort-by button{
	padding: 5px 25px !important;
}

.dropdown-item:hover{
	background-color: var(--primary-light);
}

/* Check Boxes */

input[type=checkbox]{
  /* Double-sized Checkboxes */
  -ms-transform: scale(.7); /* IE */
  -moz-transform: scale(.7); /* FF */
  -webkit-transform: scale(.7); /* Safari and Chrome */
  -o-transform: scale(.7); /* Opera */
  transform: scale(.7);
}

.form-check-input[type=checkbox]:checked{
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.form-check-input:checked:focus{
	border-color: var(--primary-color) !important;
	color: var(--primary-color) !important;
	background-color: var(--primary-color) !important;
}

.form-check-label{
	font-size: 14px;
}


/* Price Filter */

.all-products .price-filter .price-input{
	display: flex;
}
.all-products .price-filter .form-outline{
	margin-right: 10px;
}

.all-products .price-filter input[type="text"]{
	width: 70px;
}
.all-products .price-filter .btn{
	margin-top: 15px;
	padding: 5px 20px;
}


/* Category filter */

.all-products .category-filter li{
	padding: 0px;
	border: none;
	font-size: 14px;
}
.all-products .category-filter li a{
	padding: 4px 0px;
}

.all-products .category-filter .rounded-pill{
	color: var(--light-dart);
	padding: 2px;
	font-size: 14px;
}

.all-products .category-filter li img{
	width: 18px;
	margin-right: 5px;
}
